.container {
    width: 600px;
    margin: 0 auto;
    border-style: solid;
    line-height: 1.4;
    padding: 20px;
    font-family: sans-serif;
}

.title {
    font-size: 22px;
    color: white;
    background-color: #0039fe;
    text-align: center;
    text-transform: uppercase;
    /* border: none; */
    /* إزالة حدود الزر الافتراضية إذا كان زرًا */
    border-radius: 5px;
    /* لإضافة حواف دائرية خفيفة */
    padding: 10px;
    margin-bottom: 20px;
    /* هذا هو المفتاح للحصول على المسافات المتساوية حول النص */
    /* الـ 20px الأولى هي للـ padding-top والـ padding-bottom */
    /* الـ 40px الثانية هي للـ padding-left والـ padding-right */
}

.img {
    border-radius: 5px;
    width: 250px;
    height: 250px;
    margin: 0 0 20px;
}

.price {
    font-size: 24px;
    margin: 0 0 5px;
}

.dic {
    font-size: 12px;
    opacity: 0.5;
    margin: 0 0 5px;
}

.link {
    margin: 0 0;
}

.link:link,
.link:visited {
    color: black
}

.link:hover,
.link:active {
    color: black;
    font-weight: bold;
    /*عندما يتم تحديد الرابط بالماوس يقوم بتغير اللون وعمل خط او ازاالة تح الرابط*/
    text-decoration: none;
}

.youll {
    font-size: 16;
    text-transform: capitalize;
    margin: 20px 0;
}

.list {
    font-size: 16;
    list-style: square;
    margin: 0 0 20px 20px;
}

.button {
    background-color: #0039fe;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;

}

.button:hover {
    background-color: #4777ff;
}